<html>
  <head>
    <title>Plasma debugger</title>
    <link type="text/css" rel="stylesheet" href="/bootstrap.min.css" />
  </head>
  <body>
    <div class="container-fluid">
      <div class="jumbotron">
        <h1>Plasma debugger</h1>
      </div>
      <div class="row">
        <div class="col-sm-8">
          <% for(var i = chemicals.length - 1; i >= 0; i--) { %>
            <div class="panel panel-primary">
              <div class="panel-heading">
                <%= chemicals[i].type %>
              </div>
              <div id="chemical<%= i %>" class="panel-body">
                <div><pre><%= chemicals[i].jsonRepresentation %></pre></div>
              </div>
            </div>
          <% } %>
        </div>
        <div class="col-sm-4">
          <ul class="list-group">
            <li class="list-group-item active">Listeners</li>
            <% for(var i = 0; i < listeners.length; i++) { %>
              <li class="list-group-item"><%= listeners[i] %></li>
            <% } %>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
